header{
    display:flex;
    background:$default;
    align-items:center;
    justify-content:space-between;
    padding:5px 5%;
    position: sticky;
    top:0;
    transition:all ease-in-out .5s;
    z-index:100;
    &.bk{
        background:#000;
    }
    .left_nav{
        display:flex;
        align-items:center;
        .logo{
            font-size:25px;
            color:white;
        }
        .items{
            display:none;
            .item{
                display: inline-block;
            }
        }

    }
    .right_nav{
        display:flex;
        align-items: center;
        .search{
            position: relative;
            margin-right:30px;
           i{
               color:brown;
               font-size:30px;
           }
           .search-bx{
               display:none;
               position: absolute;
           }
        }
        .navs{
            
           
            
            align-items:center;
            justify-content: center;
            display:flex;
            position:relative;
            i{
                font-size:20px;
                color:white;

            }
            &:nth-child(2){
                margin:0px 10px;
            }
            
           
        }
    }
    .settings-menu{
        position: absolute;
        max-width:320px;
        width:80%;
        background:$bg-color;
        border-radius: 4px;
        box-shadow:0 0 10px rgba(0,0,0,0.5);
        overflow:hidden;
        top:109%;
        right:1%;
        max-height: 0px;
        transform:translateX(-1%);
        transition: .5s all;
        opacity:0;

        &.open{
            max-height: 450px;
            opacity:1;
        }
        .inner{
            padding: 20px;
            display:flex;
            flex-direction: column;
            .change-theme{
                align-self: flex-end;
                justify-self:flex-end;
                color:$default;
                cursor:pointer;
                font-size: 15px;
            }
            hr{
                height:1px;
                margin:10px 0px;
                background: rgba(154, 154, 154,0.4);
                border:0; 
            }
            .sett-links{
                display:flex;
                flex-direction: column;
                justify-content: center;
                margin:15px 0px;
                a{
                    // font-size: 13px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    margin-bottom:15px;
                    color: #626262;
                    &:last-child{
                        margin-bottom:0;
                    }
                    .at{
                        font-size:20px;
                        width:40px;
                        height:40px;
                        border-radius:50%;
                        background: #ccc;
                        margin-right:10px;
                        display:flex;
                        color: #444444;
                        align-items: center;
                        justify-content: center;
                    }
                    .cr{
                        margin-left:auto;
                    }
                }
            }
            .user-profile{
                display:flex;
                align-items: center;
                img{
                    width:45px;
                    border-radius:50%;
                    margin-right: 10px;
                }
                p{
                    margin-bottom: -5px;
                    font-weight: 600;
                    color: #626266;
                }
                a{
                    font-size:12px;
                    text-decoration: none;
                    color:$default;
                }
            }
        }
        .night-mode-set{
            position:absolute;
            top:20px;
            right:20px;
            background:#ccc;
            border-radius:15px;
            width:45px;
            cursor:pointer;
            padding: 3px;
            display:flex;
            &.open{
                    background:#000;
                }
            .bt{
                width:18px;
                height:18px;
                background:#fff;
                border-radius: 50%;
                transition:all  .5s;
                display: block;
                margin-left:0;
                &.open{
                    margin-left: 20px;
                }
            }

        }
    }
}